/* 1. Google Fonts MUST be first */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Merriweather:wght@300;400;700&display=swap");

/* 2. Tailwind Framework */
@import "tailwindcss";

/* 3. Theme Configuration */
@theme {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;

  --color-paper: #fdfbf7;
  --color-teal-accent: #2dd4bf;
  --color-coral-accent: #fb7185;

  --color-ocean-50: #f0f9ff;
  --color-ocean-100: #e0f2fe;
  --color-ocean-800: #075985;
  --color-ocean-900: #0c4a6e;
  --color-ocean-950: #082f49;
}

/* 4. Base Styles */
body {
  background-color: var(--color-paper);
  color: var(--color-slate-800);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  color: var(--color-ocean-900);
}
